header{
    background-color: rgb(181, 181, 181);
}
 .info h2{
    background-color: rgb(228, 171, 217);
    text-align: center;
 }
 .info h3{
    background-color: rgb(228, 154, 89);
    color: aliceblue;
    text-align: center;
 }
